body {
  background-color: teal;
}

.jumbotron {
  background-image: url(./images/jumbtron.jpg);
  background-size: cover;
  background-position: center;
  object-fit: cover;
  color: antiquewhite;
}

/*.......... Exercise 1 .......... */
.fadeIn {
  animation: fade-in 1s 1s backwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Welcome-Summer {
  margin-top: 2em;
}

.img-fluid {
  height: 150px;
  width: 300px;
  object-fit: cover;
}

span {
  font-size: 0.8rem;
  text-decoration: line-through;
  font-weight: lighter;
  color: red;
}

.dealP {
  position: absolute;
  top: 1em;
  left: 3em;
  color: black;
  font-weight: bolder;
  font-family: cursive;
}

.col-4 {
  font-weight: 600;
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-body {
  background-color: teal;
}
.Last-minute {
  margin-top: 2em;
}

.user {
  height: 80px;
  width: 80px;
  object-fit: cover;
  border-radius: 50%;
}

.Testimonials {
  margin-top: 2em;
}

.box {
  border: var(--border);
  text-align: center;
  padding: 3rem 2rem;
  text-align: center;
}

.stars {
  color: gold;
}

h3 {
  margin-left: 1em;
}

.item-social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-left: 11px;
  margin-top: 22px;
  color: inherit;
  opacity: 0.75;
  color: skyblue;
}
.item-social {
  display: flex;
  justify-content: center;
  margin-left: 28em;
}

.item-social > a:hover {
  opacity: 0.9;
}

.last {
  background-color: skyblue;
  margin-left: 36em;
  border-radius: 20px;
  border: none;
}

footer {
  margin-left: 7em;
}

a {
  color: beige;
}
